<article>
  <div class="container">
    <div class="filter">
      <form method="GET" action="{{ .RelativeURLRoot }}/browse">
        <div class="control">
          <label for="filetype">Filetype:</label>
          <select id="filetype" name="filetype">
            <option value="">Auto</option>
            {{- range $language := .Languages }}
            <option value="{{ $language.ID }}">{{ $language.Name }}</option>
            {{- end }}
          </select>
        </div>

        <div class="control">
          <button type="submit">Filter</button>
        </div>
      </form>
    </div>

    <div class="list">
      {{- if gt (len .Pastes) 0 }}
      <table>
        <colgroup>
          <col />
          <col />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th class="filename">Filename</th>
            <th class="filetype">Filetype</th>
            <th class="datetime">Datetime</th>
          </tr>
        </thead>
        <tbody>
          {{- range $paste := .Pastes }}
          {{- $id := $paste.ID | hash_encode }}
          <tr>
            <td class="filename"><a href="{{ $.RelativeURLRoot }}/{{ $id }}">{{ $paste.Filename }}</a></td>
            <td class="filetype"><a href="{{ $.RelativeURLRoot }}/browse?filetype={{ $paste.Filetype }}">{{ $paste.Filetype | format_filetype }}</a></td>
            <td class="datetime"><abbr title="{{ $paste.CreatedAt | full_datetime }}">{{ $paste.CreatedAt | short_datetime }}</abbr></td>
          </tr>
          {{- end }}
        </tbody>
      </table>
      {{- else }}
      <em>Nothing found.</em>
      {{- end }}
    </div>

    {{- template "pagination/pagination" (list .Query .Pagination) }}
  </div>
</article>
