//
// Base ...
//

:root {
  --font-face-body: '-apple-system', 'Segoe UI', 'system-ui', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'Liberation Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', 'Twemoji Mozilla';
  --font-face-monospace: 'Consolas','Menlo','Monaco','Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','monospace','serif';

  --color-header-bg: #010609;
  --color-header-menu-text: #ffffff;
  --color-header-menu-text-hover: #ffffff;
  --color-header-menu-bg-hover: #304f64;
  --color-header-menu-bg-active: #082437;
  --color-header-border: #082437;

  --color-footer-bg: #010609;
  --color-footer-border: #082437;

  --color-nav-bg: #010609;

  --color-body-bg: #0c1a24;
  --color-body-text: #d4dbdf;
  --color-body-link-text: #4793cc;
  --color-body-link-text-hover: #4793cc;

  --color-body-input-bg: #082437;
  --color-body-input-text: #ffffff;
  --color-body-input-placeholder: #677e8d;
  --color-body-input-border: #1d4057;
  --color-body-input-border-hover: #4793cc;
  --color-body-input-border-active: #4793cc;

  --color-body-list-item-bg: #010609;
  --color-body-list-item-bg-hover: #111619;

  --color-body-list-table-border: #082437;
  --color-body-list-table-bg: #061825;
  --color-body-list-table-bg-alt: #111f28;
  --color-body-list-table-bg-hover: #0b3049;
  --color-body-list-table-heading: #ffffff;
  --color-body-list-table-link-text: #ffffff;
  --color-body-list-table-link-text-alt: #a0a0a0;
  --color-body-list-table-link-text-hover: #4793cc;

  --color-scrollbar: #4793cc;
  --color-scrollbar-hover: #4793cc;
  --color-scrollbar-active: #4793cc;
}


//
// Responsive ...
//

header, footer, article {
  min-width: 1280px;

  .container {
    width: 1280px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header, footer, article {
    min-width: calc(100% - 32px);

    .container {
      width: calc(100% - 32px);
    }
  }
}


//
// Common ...
//

* {
  margin: 0;
  padding: 0;
  scrollbar-color: var(--color-scrollbar) transparent;
  caret-color: var(--color-body-text);
}

html {
  height: 100%;

  body {
    background: var(--color-body-bg);
    color: var(--color-body-text);
    height: 100%;
    font: normal 15px/20px var(--font-face-body);
    min-height: 600px;
  }
}


//
// Header ...
//

header {
  width: 100%;
  background: var(--color-header-bg);
  border-bottom: 1px solid var(--color-header-border);

  .container {
    box-sizing: border-box;
    height: 49px;
    margin: 0 auto;

    .menu {
      list-style: none outside none;

      .item {
        float: left;

        a, a:visited {
          display: block;
          margin: 7px 5px 0 0;
          padding: 8px 13px;
          text-decoration: none;

          color: var(--color-header-menu-text);
          border-radius: 4px;

          &:hover {
            background: var(--color-header-menu-bg-hover);
            color: var(--color-header-menu-text-hover);
          }
        }

        &.active {
          a, a:visited {
            background: var(--color-header-menu-bg-active);

            &:hover {
              background: var(--color-header-menu-bg-hover);
              color: var(--color-header-menu-text-hover);
            }
          }
        }
      }

      &:after {
        display: block;
        width: 0;
        height: 0;
        font-size: 0;
        content: ' ';
      }
    }
  }
}


//
// Footer ...
//

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--color-footer-bg);
  border-top: 1px solid var(--color-header-border);

  .container {
    margin: 0 auto;
    padding: 14px 20px;

    address {
      font-style: normal;
    }

    a, a:visited {
      color: var(--color-body-link-text);
      text-decoration: none;

      &:hover {
        color: var(--color-body-link-text-hover);
        text-decoration: underline;
      }
    }
  }
}


//
// Main ...
//

article {
  padding: 0 0 50px 0;

  .container {
    position: relative;
    margin: 0 auto;

    a, a:visited {
      color: var(--color-body-link-text);
      text-decoration: none;

      &:hover {
        color: var(--color-body-link-text-hover);
        text-decoration: underline;
      }
    }

    .control {
      width: 400px;
      margin: 10px 0;
      display: inline-block;

      > label {
        display: inline-block;
        width: 120px;
        padding: 0;
        color: var(--color-body-input-text);
        text-align: right;
        font: normal 13px/21px var(--font-face-monospace);
      }

      > input[type='text'] {
        width: 250px;
        padding: 8px;
        background: var(--color-body-input-bg);
        color: var(--color-body-input-text);
        border: 1px solid var(--color-body-input-border);
        border-radius: 4px;
        outline: none;
        box-shadow: #00000013 0 1px 2px inset;
        font: normal 13px/21px var(--font-face-monospace);

        &::placeholder {
          color: var(--color-body-input-placeholder);
        }

        &:hover {
          border: 1px solid var(--color-body-input-border-hover);
        }

        &:focus {
          border: 1px solid var(--color-body-input-border-active);
        }
      }

      > select {
        width: 250px;
        margin: 0 10px 0 0;

        &.indent-style-select {
          width: 150px;
        }

        &.indent-size-select {
          width: 80px;
        }
      }

      > .select2 {
        margin: 0 10px 0 0;
      }

      > button {
        padding: 10px 20px;
        background: #87ab63;
        color: #ffffff;
        border: 1px solid #454a57;
        border-radius: 6px;
        font: normal 13px/21px var(--font-face-monospace);
        cursor: pointer;

        &:hover {
          background: #a0cc75;
        }

        &:active {
          background: #198f35;
        }
      }
    }

    .code {
      position: relative;
      box-sizing: border-box;
      min-height: 400px;
      height: calc(100vh - 350px);
      margin: 10px 0;

      > textarea {
        display: none;
      }

      > .monaco-editor {
        border: 1px solid #082437;
        border-radius: 4px;

        > .overflow-guard {
          border-radius: 4px;
        }

        .monaco-scrollable-element > .scrollbar > .slider {
          background: var(--color-scrollbar) !important;
        }
        .monaco-scrollable-element > .scrollbar > .slider:hover {
          background: var(--color-scrollbar-hover) !important;
        }
        .monaco-scrollable-element > .scrollbar > .slider:active {
          background: var(--color-scrollbar-active) !important;
        }
      }
    }

    .list {
      table {
        width: 100%;
        margin: 10px 0;
        padding: 0;
        border: 1px solid var(--color-body-list-table-border);
        border-radius: 4px;
        border-collapse: collapse;
        font: 13px/21px var(--font-face-monospace);
        background: var(--color-body-list-table-bg);

        thead {
          tr {
            th {
              padding: 5px;
              font-weight: bold;
              text-align: left;
              background: var(--color-body-list-table-bg);
              color: var(--color-body-list-table-link-text);
              border: 1px solid var(--color-body-list-table-border);

              &.filetype,
              &.datetime {
                width: 160px;
                text-align: left;
                color: var(--color-body-list-table-link-text-alt)
              }
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 5px;
              background: var(--color-body-list-table-bg);
              border: 1px solid var(--color-body-list-table-border);

              a, a:visited {
                color: var(--color-body-list-table-link-text);

                &:hover {
                  color: var(--color-body-list-table-link-text-hover);
                }
              }

              &.filetype {
                a, a:visited {
                  color: var(--color-body-list-table-link-text-alt);

                  &:hover {
                    color: var(--color-body-list-table-link-text-hover);
                  }
                }
              }

              &.datetime {
                color: var(--color-body-list-table-link-text-alt);

                abbr {
                  cursor: help;
                }
              }
            }

            &:nth-of-type(odd) {
              td {
                background: var(--color-body-list-table-bg-alt);
              }
            }

            &:hover {
              td {
                background: var(--color-body-list-table-bg-hover);
              }
            }
          }
        }
      }



      ul {
        list-style: none inside none;

        li {
          margin: 0 0 10px 0;

          a, a:visited {
            display: block;
            padding: 10px;
            border-radius: 4px;
            background: var(--color-body-list-item-bg);
            border: 1px solid var(--color-body-list-item-bg);

            &:hover {
              background: var(--color-body-list-item-bg-hover);
            }

            span {
              display: block;
              font-weight: bold;
            }

            em {
              display: block;
            }
          }
        }
      }
    }

    .paginator {
      margin: 20px 0;
      overflow: auto;

      ul {
        float: left;
        list-style: none outside none;
        border: 1px solid var(--color-body-list-item-bg);
        border-radius: 5px;

        li {
          float: left;
          margin: 0;
          padding: 0;

          a, a:visited {
            display: block;
            padding: 10px 15px;
            background: var(--color-body-list-item-bg);

            &:hover {
              background: var(--color-body-list-item-bg-hover);
            }
          }

          span {
            display: block;
            padding: 10px 10px;
            cursor: disabled;

            &.current {
              padding: 10px 15px;
              font-weight: bold;
            }
          }
        }

        &:after {
          display: block;
          width: 0;
          height: 0;
          font-size: 0;
          content: ' ';
        }
      }
    }
  }
}


//
// Select2 fixes
//
.select2-container {
  margin: 1px 0 0 0;

  .select2-search--inline {
    .select2-search__field {
      height: 23px;
    }
  }

  .select2-selection--single {
    height: 39px;

    .select2-selection__rendered {
      line-height: 39px;
      font: normal 13px/36px var(--font-face-monospace);
    }

    .select2-selection__arrow {
      height: 36px;
    }
  }

  .select2-dropdown {
    .select2-results {
      .select2-results__option {
        font: normal 13px/21px var(--font-face-monospace);
      }
    }
  }

  .select2-selection--multiple {
    .select2-selection__rendered {
      .select2-selection__choice {
        font: normal 13px/24px var(--font-face-monospace);
      }
    }

    .select2-selection__choice__remove {
      padding: 4px 3px;
    }

    .select2-selection__choice__display {
      padding: 9px 3px;
    }
  }
}
