<article>
  <div class="container">
    <form method="POST" action="{{ .AbsoluteURLRoot }}">
      <div class="control">
        <label for="filename">Filename:</label>
        <input type="text" id="filename" name="filename" placeholder="filename.ext" value="{{ .Paste.Filename }}"{{ if ne .Paste.ID 0 }} readonly="readonly"{{ end }} />
      </div>

      <div class="control">
        <label for="private">Private:</label>
        <select itemid="private" name="private"{{ if ne .Paste.ID 0 }} disabled="disabled"{{ end }}>
          <option value=""{{ if eq .Paste.Private 0 }} selected="selected"{{ end }}>No</option>
          <option value="1"{{ if eq .Paste.Private 1 }} selected="selected"{{ end }}>Yes</option>
        </select>
      </div>

      <div class="control">
        <label for="filetype">Filetype:</label>
        <select id="filetype" name="filetype"{{ if ne .Paste.ID 0 }} disabled="disabled"{{ end }}>
          <option value="">Auto</option>
          {{- range $language := .Languages }}
          <option value="{{ $language.ID }}"{{ if eq $language.ID $.Paste.Filetype }} selected="selected"{{ end }}>{{ $language.Name }}</option>
          {{- end }}
        </select>
      </div>

      <div class="control">
        <label for="indent-style">Indentation:</label>
        <select id="indent-style" name="indent-style" class="indent-style-select"{{ if ne .Paste.ID 0 }} disabled="disabled"{{ end }}>
          <option value="spaces"{{ if eq .Paste.IndentStyle "spaces" }} selected="selected"{{ end }}>Spaces</option>
          <option value="tabs"{{ if eq .Paste.IndentStyle "tabs" }} selected="selected"{{ end }}>Tabs</option>
        </select>
        <select id="indent-size" name="indent-size" class="indent-size-select"{{ if ne .Paste.ID 0 }} disabled="disabled"{{ end }}>
          <option value="1"{{ if eq .Paste.IndentSize 1 }} selected="selected"{{ end }}>1</option>
          <option value="2"{{ if eq .Paste.IndentSize 2 }} selected="selected"{{ end }}>2</option>
          <option value="3"{{ if eq .Paste.IndentSize 3 }} selected="selected"{{ end }}>3</option>
          <option value="4"{{ if eq .Paste.IndentSize 4 }} selected="selected"{{ end }}>4</option>
          <option value="5"{{ if eq .Paste.IndentSize 5 }} selected="selected"{{ end }}>5</option>
          <option value="6"{{ if eq .Paste.IndentSize 6 }} selected="selected"{{ end }}>6</option>
          <option value="7"{{ if eq .Paste.IndentSize 7 }} selected="selected"{{ end }}>7</option>
          <option value="8"{{ if eq .Paste.IndentSize 8 }} selected="selected"{{ end }}>8</option>
        </select>
      </div>

      <div class="code">
        <textarea id="content" name="content" data-language="{{ .Paste.Filetype }}"{{ if ne .Paste.ID 0 }} readonly="readonly"{{ end }}>{{ .Paste.Content }}</textarea>
      </div>

      <div class="control">
        {{- if ne .Paste.ID 0 }}
        <button type="button" id="clone-paste">Clone</button>
        <button type="submit" id="submit-paste" style="display: none;">Paste!</button>
        {{- else }}
        <button type="submit" id="submit-paste">Paste!</button>
        {{- end }}
      </div>
    </div>
  </form>
</article>
