<article>
  <form method="POST" action="{{ .Root }}/" class="paste-form">
    <div class="new-paste-meta">
      <input type="text" name="filename" class="filename-input" placeholder="filename.ext" value="{{ .Paste.Filename }}" />

      <select name="indent-style" class="indent-style-select">
        <option value="spaces"{{ if eq .Paste.IndentStyle "spaces" }} selected="selected"{{ end }}>Spaces</option>
        <option value="tabs"{{ if eq .Paste.IndentStyle "tabs" }} selected="selected"{{ end }}>Tabs</option>
      </select>

      <select name="indent-size" class="indent-size-select">
        <option value="1"{{ if eq .Paste.IndentSize "1" }} selected="selected"{{ end }}>1</option>
        <option value="2"{{ if eq .Paste.IndentSize "2" }} selected="selected"{{ end }}>2</option>
        <option value="3"{{ if eq .Paste.IndentSize "3" }} selected="selected"{{ end }}>3</option>
        <option value="4"{{ if eq .Paste.IndentSize "4" }} selected="selected"{{ end }}>4</option>
        <option value="5"{{ if eq .Paste.IndentSize "5" }} selected="selected"{{ end }}>5</option>
        <option value="6"{{ if eq .Paste.IndentSize "6" }} selected="selected"{{ end }}>6</option>
        <option value="7"{{ if eq .Paste.IndentSize "7" }} selected="selected"{{ end }}>7</option>
        <option value="8"{{ if eq .Paste.IndentSize "8" }} selected="selected"{{ end }}>8</option>
      </select>

      <select name="mime-type" class="mime-type-select">
        {{- range $language := .Languages }}
        {{- $mimeType := index $language.MimeTypes 0 }}
        <option value="{{ $mimeType }}"{{ if eq $mimeType $.Paste.MimeType }} selected="selected"{{ end }}>{{ $language.Name }}</option>
        {{- end }}
      </select>

      <button type="submit" class="new-paste-button">PASTE!</button>
    </div>

    <div class="edit-paste-meta">
      <button type="button" class="edit-paste-button">EDIT</button>
    </div>

    <div class="code-wrapper">
      <textarea name="content" class="code-editor"{{ if ne .Paste.ID 0 }} readonly="readonly"{{ end }}>{{ .Paste.Content }}</textarea>
    </div>
  </form>
</article>
